:root {
    --primary: #fbff00;
    --bg-dark: #050505;
    --card-bg: #0a0a0a;
    --glow: 0 0 15px rgba(238, 255, 0, 0.6);
    --text-glow: 0 0 5px rgba(255, 255, 255, 0.5);
}

body {
    background-color: var(--bg-dark);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* En-tête */
header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid var(--primary);
    box-shadow: var(--glow);
    margin-bottom: 40px;
}

h1 { text-transform: uppercase; font-size: 2.5rem; text-shadow: var(--text-glow); margin: 0; }
h1 span { color: var(--primary); text-shadow: var(--glow); }

/* Conteneurs */
.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: var(--card-bg);
    border: 1px solid var(--primary);
    border-radius: 15px;
    padding: 30px;
    box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.1);
}

/* Formulaires */
.input-group { margin-bottom: 20px; }
label { display: block; margin-bottom: 8px; font-weight: bold; color: #ccc; }

input, textarea {
    width: 100%;
    background: #000;
    border: 1px solid #333;
    padding: 12px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
    transition: 0.3s;
}

input:focus, textarea:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 10px var(--primary);
}

/* Boutons */
.btn {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 2px solid var(--primary);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: var(--glow);
}

.btn:hover { background: var(--primary); box-shadow: 0 0 25px var(--primary); }

/* Admin Panel Spécifique */
.overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: #000;
    display: flex; justify-content: center; align-items: center;
    z-index: 100;
}

.app-card {
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 4px solid var(--primary);
    background: rgba(255,255,255,0.02);
}

.admin-access {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-mini {
    background: transparent;
    border: 1px solid var(--primary);
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-mini:hover {
    background: var(--primary);
    box-shadow: var(--glow);
}

.actions { display: flex; gap: 10px; margin-top: 10px; }
.btn-accept { border-color: #00ff00; color: #00ff00; box-shadow: 0 0 5px #00ff00; }
.btn-refuse { border-color: #ff0000; color: #ff0000; }
.btn-accept:hover { background: #00ff00; color: black; }
.btn-refuse:hover { background: #ff0000; color: white; }